
$formradius: 5px;
$c: #5690FF;
$c2: #17244e;
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: {
        image: url(./images.jpg);
        repeat:no-repeat;
        size:cover;
    }
    main{
        @media(max-width: 565px) {
            flex-direction: column;
            >*{
                width: 100% !important;
            }
        }
        display: flex;
        margin:100px auto;
        max-height: 500px;
        max-width: 1000px;
        img{
            border: {
                top-right-radius:$formradius;
                bottom-right-radius:$formradius;
            }
            width: 50%;
        }
        >div{
            width: 50%;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            >div:nth-child(1){
                position: relative;
                margin-block: 10px -20px;
                display: flex;
                justify-content: space-around;
            
            >p{
                cursor: pointer;
            }
            &::after{
                content:"";
                position: absolute;
                width: 2px;
                height: 70%;
                top:15%;
                left: 50%;
                border-radius: 10px;
                background-color: $c;                
            }
        }
        >div:nth-child(2){
            height: 90%;
        form{
            &:last-child{
                display: none;
            }
            height: 100%;
            width: 100%;
            border: {
                top-left-radius:$formradius;
                bottom-left-radius:$formradius;
            }
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 5%;
            input{
                &::placeholder{
                    height: 100%;
                }
                &:not([type=radio]){
                width: 100%;
                height: 50px;
                    &:not([type=submit]){ 
                        transition: .5s ease-in-out;
                        font-size: 100%;
                            border: {
                                width: 0;
                                bottom: {
                                    width:2px;
                                    color:$c;
                                    style:solid;
                                }
                            };
                            &:focus{
                            outline: 0;
                            border-bottom: {
                                color:$c2;
                                style:solid;
                                
                            }
                        }
                    }
                }
                &[type=submit]{
                    background-color: $c;
                    color: #fff;
            transition: .3s ease-in-out;
                    cursor: pointer;
                    border: {
                        width:0;
                        radius:10px;
                    }
                    &:hover{
                        background-color: $c2;
                    }
                }
            }
            >:nth-child(4){
                label{
                    cursor: pointer;

                }
                >div,
                >div>div{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    justify-content: space-evenly;
                    span{
            transition: .3s ease-in-out;
                        display: block;
                        width: 30px;
                        height: 30px;
                        >span{
                            margin: 4px;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                        }
                    }
                    >span{
                        margin-right: 10px;
                            border: {
                                radius:50%;
                                width:1px;
                                color:$c;
                                style:solid;
                            }
                    }
                    input{
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        left: 0;
                        cursor: pointer;
                        top: 0;
                        opacity: 0;
                        &:checked + span>span{
                        background-color:$c2;
                        }
                    }
                }
            }
        }
    }
}
        }
}